/*Side nr 4*/
#Historie{
    background-image: url(../images/kåreass.jpg);
    background-size: cover;
    padding-top: 200px;
}

/*Tekst om høyres historie*/
#Historie h1{
color: rgb(236, 240, 241);
width: 450px;
margin-left: 70px;
padding-top: 300px;
background-color: rgba(0, 0, 0, 0.60);
height: 390px;
border-radius: 3%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 0px;
margin-left: 45px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 15px;
top: 200px;
font-size: 15px;
line-height: 40px;
}

/*Les mer om historien teksten*/
#Historie h2{
    position: relative;
    display: flex;
    width: 20rem;
    font-size: 26px;
    color: white;
    display: flex;
    top: -2.7rem;
    margin-left: 64rem ;
    border-radius: 7%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Da Willoch møtte reagan teksten*/
#Historie h3{
    position: relative;
    color: white;
    font-size: 26px;
    top: 7.1rem;
    margin-left: 62.5rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Høyres historie, overskrift*/
#Historie h4{
    color: white;
    font-size: 35px;
    margin-left: 610px;
    margin-top: -550px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Video av kåre Willoch og Gro*/
#kåre-vid{
    position: relative;
    top: 1.5rem;
    left: 60rem;
    border: solid 2px white;
    height: auto;
    text-decoration: none;
    border-radius: 5%; 
    width: 22rem; 
}

/*Video av Willoch & Reagan*/
#reagan-vid{
    position: absolute;
    top: 178rem;
    left: 60rem;
    border: solid 2px white;
    height: auto;
    border-radius: 5%;
    width: 22rem;
}

