/*Side nr 3 av SPA*/
#Politikk{
    background-color: rgb(0, 79, 139);
    background-size: cover;
    padding-right: 35px;
    padding-top: 50px;
    padding: 16px;  
}

/*Vår politikk (overskrift)*/
#Politikk h2{
    text-align: center;
    color: white;
    width: 300px;
    padding-left: 525px;
    margin-left: 28px;
    margin-top: 0;
    font-family: monospace;
    font-size: 30px;
}

/* Kolonne nr 1 */
.sjefen{
    height: 240px;
    display: flex;
    gap: 8px;
    border: 10px  white;
    background-size: cover;
    margin-top: 35px;   
    padding-left: 39px;
}

/* Teksten på kategoriene, kolonne 1*/
.sjefen h1{
    text-align: bottom;
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 111px;
    border-radius: 2%;
    padding-left: 45px;
   text-align: center;
   text-decoration: none;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   background-image: linear-gradient(transparent, transparent 40%, black);
}

/*Redigering av de enkelte boksene i kolonne 1*/
.sjefe{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    margin-left: 60px;
    margin-right: 100px;
    height: 180px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Kolonne nr 2*/
.banken{
    height: 200px;
    display: flex;
    gap: 8px;
    border: 10px white; 
    padding-left: 39px;
}

/*Teksten på kategorier, kolonne 2*/
.banken h1{
    text-align: bottom;
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 111px;
    padding-left: 45px;
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: linear-gradient(transparent, transparent 40%, black);
}


/*Redigering av de enkelte boksene i kolonne 2*/
.banke{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    background-size: cover;
    transition: 0.5s;
    margin-right: 100px;
    margin-left: 60px;
    height: 180px;
    width: 120px;
    margin-top: -13px;
    margin-bottom: 10px;
    gap: 20px;
}

/*Kolonne nr 3*/
.folket{
    height: 200px;
    display: flex;
    gap: 8px;
    border: 10px white; 
    padding-left: 39px;
}

/*Teksten på kategorier, kolonne 3*/
.folket h1{
    text-align: bottom;
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 111px;
    padding-left: 45px;
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: linear-gradient(transparent, transparent 40%, black);
}

/*Redigering av de enkelte boksene i kolonne 3*/
.folke{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    background-size: cover;
    transition: 0.5s;
    margin-left: 60px;
    margin-right: 100px;
    height: 180px;
    width: 120px;
    margin-top: 10px;  
}

/*Flytte på bildene som er brukt i flexboxene*/
img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    margin-left: 45px;
    opacity: 1;
    transition: 5s;
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Flexbox og hovering-effekt*/

/*Kolonne 1*/
.sjefe:nth-child(1){background-image: url(../images/utvalgte.jpg);}
.sjefe:nth-child(2){background-image: url(../images/budsjett.jpg);}
.sjefe:nth-child(3){background-image: url(../images/bærekraft.jpg);}

.sjefe:first-child{transform-origin: left;}
.sjefe:last-child{transform-origin: right;}

.sjefe:hover{
    flex: 2;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .sjefe:nth-child (3){
       display: none;;
    }
}

/*kolonne 2*/
.banke:nth-child(1){background-image: url(../images/bank.jpg);}
.banke:nth-child(2){background-image: url(../images/kultur.jpg);}
.banke:nth-child(3){background-image: url(../images/utdanning.jpg);}

.banke:first-child{transform-origin: left;}
.banke:last-child{transform-origin: right;}

.banke:hover{
    flex: 2;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .banke:nth-child (3){
       display: none;;
    }
}

/*kolonne 3*/
.folke:nth-child(1){background-image: url(../images/helse.jpg);}
.folke:nth-child(2){background-image: url(../images/samferdsel.jpg);}
.folke:nth-child(3){background-image: url(../images/bønder.jpg);}

.folke:first-child{transform-origin: left;}
.folke:last-child{transform-origin: right;}

.folke:hover{
    flex: 2;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .folke:nth-child (3){
       display: none;;
    }
}