
body{
    margin: 0;
}


header nav a{
    font-family: monospace;
    color:rgb(0, 79, 139);
    font-size: 10px;  
    margin: 0;
    padding: 0;
    padding-right: 173px;

}

header{
    background-color:white;
    position: fixed;
    z-index: 2;

}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-right: -62px;
}

.nav-list{
    display: flex;
    list-style: none;
    position: relative;
    padding-left: ;
}

.nav-item{
    padding: 1rem 0rem;
    min-width: 10rem;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 79, 139);
    font-family: monospace;
    font-weight: 700;
}

.active{
    height: 2px;
    width: 4rem;
    background-color: rgb(0, 79, 139);
    position: absolute;
    bottom: 0rem;
    transition: transform .4s;
}

.nav-item:nth-child(1):hover ~ .active{
    transform: translateX(-1.5rem);
}
.nav-item:nth-child(2):hover ~ .active{
    transform: translateX(13rem);
}
.nav-item:nth-child(3):hover ~ .active{
    transform: translateX(29rem);
}
.nav-item:nth-child(4):hover ~ .active{
    transform: translateX(44rem);
}
.nav-item:nth-child(5):hover ~ .active{
    transform: translateX(58.62rem);
}

    
.logo{
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;   
}

main section{
    height: 100vh;
}

