#Historie{
    background-image: url(./images/kåreass.jpg);
    background-size: cover;
    padding-top: 200px;
}

#Historie h1{
color: rgb(236, 240, 241);
width: 450px;
margin-left: 70px;
padding-top: 300px;
background-color: rgba(0, 0, 0, 0.60);
height: 390px;
border-radius: 3%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 0px;
margin-left: 45px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 15px;
top: 200px;
font-size: 15px;
line-height: 40px;
}

#Historie h2{
    position: relative;
    color: white;
    font-size: 35px;
    margin-left: 1020px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 188px;
}

#Historie h3{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 1000px;
    margin-top: 230px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#Historie h4{
    color: white;
    font-size: 35px;
    margin-left: 610px;
    margin-top: -550px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#kåre-vid{
    position: absolute;
    top: 2570px;
    margin-left: 970px;
    border: solid 2px white;
    height: auto;
    border-radius: 5%;  
}

#reagan-vid{
    position: absolute;
    top: 2840px;
    margin-left: 970px;
    border: solid 2px white;
    height: auto;
    border-radius: 5%;
}

