#Hjem{
    background-image: url(./images/ernr.jpeg);
    background-size: cover;
    background-color: rgb(0, 79, 139);
    margin-top: 0px;
    min-height: 100vh;
    text-align: right;
    padding-top: 135px;
    padding-right: 50px;
}

/* "Vi tror på Norge, fordi vi tror på deg" */
#Hjem h1 {
    position: absolute;
    font-family: monospace;
    color: white;
    top: 240px;
    left: 60px;
    width: 300px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Bli kjent med Erna */
#Hjem h3{
    position: absolute;
    font-size: 35px;
    top: 310px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    padding-right: -0px;
    padding-left: 20px;
    padding-top: 7px;
    border-radius: 7%;
    height: 60px;
    width: 300px;
    margin-left: 998px;
    margin-right: 85px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: linear-gradient(transparent, transparent 40%, black);
}

/* Bli medlem */
#Hjem h4{
position: absolute;
font-size: 35px;
top: 520px;
color: white;
display: flex;
text-align: center;
justify-content: flex-start;
align-items: flex-end;
padding: 20px;
padding-bottom: 8px;
padding-right: px;
padding-left: 82px;
padding-top: 7px;
border-radius: 7%;
height: 60px;
width: 218px;
margin-left: 998px;
margin-right: 130px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
background-image: linear-gradient(transparent, transparent 40%, black);
}

/* Erna Solberg navn i sitatet */
#Hjem p{
    color: white;
    font-size: 18px;
    top: 290px;
    left: 90px;
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Video av Erna */
#video{
    position: absolute;
    top: 240px;
    right: 120px;
    border: solid 2px white;
    height: auto;
    border-radius: 5%; 
}

/*Video av Torbjørn Røe Isaksen */
#isaksen{
    position: absolute;
    top: 460px;
    right: 120px;
    border: solid 2px white;
    height: auto;
    border-radius: 5%;
}
