#Hjem{
    background-image: url(./ernaaa.jpg);
    background-size: cover;
    margin-top: 70px;
    min-height: 100vh;
    text-align: right;
    padding-top: 125px;
    padding-right: 75px;
    
    
}
    
#Hjem h1 {
    font-family: monospace;
    color: white;
}

#Hjem h2{
    text-align: left;
    padding-left: 110px;
    font-size: 25px;
    margin-top: -70px;
    color: white;
    font-family: monospace;
}

#Hjem p{
    color: white;
    font-size: 13px;
}



#Statsråder{
    background-image: url(./pol.jpg);
    background-size: cover;
    
}

#Politikk{
    background-image: url(./norge.jpeg);
    background-size: cover;
    background-position: center;
}

#Historie{
        background-image: url(./kåreass.jpg);
        background-size: cover;
}

#Kontakt{
    background-image: url(./kontakt.jpeg);
    background-size: cover;
}

#Medlem{
    background-image: url(./medlemmer.jpeg);
    background-size: cover;
}


main section{
    height: 100vh;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav{
    margin: 0 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    
}

footer{
    background-color: grey;
}

header{
    width: 100%;
    background-color: mintcream;
    position: fixed;
    left: 0;
    top: 0;
}


body{
    margin: 0;
}

.logo{
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    
}

nav a{
display: block;
margin-left: 15px; 
margin-right: 15px;
margin-top: 15px;
margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
border: 5px;
}

nav li{
    display: inline-block;
    margin-left: 46px;
}

header nav a{
    font-family: monospace;
    color:rgb(60, 77, 147);
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    
    
    

   

}