#Medlem{

}

.content-background{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(./images/stortinget.png);
    background-size: cover;
    filter: blur(2px);
}

.content-itself{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: sans-serif;
    font-size: 48px;
}



/* unger/unge: */ 

.unge:nth-child(1){background-image: url(./images/asheim2.jpg);}
.unge:nth-child(2){background-image: url(./images/unge.jpg);}


.unge:hover{
    flex: 2;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .unge:nth-child (2){
       display: none;;
    }
}

/*leker/leke */

.leke:nth-child(1){background-image: url(./images/stillinger.jpg);}
.leke:nth-child(2){background-image: url(./images/sandra.jpg);}


.leke:hover{
    flex: 2;
    transform: scale(1.1);
    z-index: 1;
}

@media (max-width: 500px){

    .leke:nth-child (2){
       display: none;;
    }  
}

/*mangle/mangler:*/

.mangle:nth-child(1){background-image: url(./images/giphy-preview.gif);}
.mangle:hover{
    flex: 1;
    transform: scale(1.1);
    z-index: 1;
}

@media (max-width: 500px){

    .mangle:nth-child(1){
        display: none;;
    }
}

/*handle/handler:*/

.handle:nth-child(1){background-image: url(./images/setning.png);}


.handle:hover{
    flex: 1;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .handle:nth-child(1){
        display: none;;
    }
}


.unge{
    background-color: orange !important;
    border-radius: 5px;
    flex: 2;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    height: 268px;
    width: 200px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;  
   
}

.unger{
    position: absolute;
    display: flex;
    gap: 8px;
    height: 100px;
    width: 600px;
    border: 10px white;  
    padding-top: 100px;
    margin-bottom: 510px;
    padding-left: 520px;
}

.unger h1{
    text-align: bottom;
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 194px;
    padding-left: 31px;
    text-align: center;
    width: 230px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    background-image: linear-gradient(transparent, transparent 72%, black);
    border-radius: 5px;
}


.leke{
    background-color: orange;
    border-radius: 5px;
    flex: 2;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    gap: 200px;
    margin: 10px;
    height: 268px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.leker{
    position: absolute;
    display: flex;
    gap: 8px;
    height: 100px;
    width: 600px;
    border: 10px white;
    padding-top: 396px;
    padding-bottom: 267px;
    padding-left: 520px;
}

.leker h1{
    text-align: center;
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 200px;
    padding-left: 31px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: linear-gradient(transparent, transparent 72%, black);
    border-radius: 5px;
    margin-bottom: 15px;
}

.handle{
    background-color: orange;
    border-radius: 5px;
    flex: 1;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    gap: 200px;
    margin: 10px;
    height: 55px;
    width: 100%;
    margin-left: 100px;
    margin-top: 110px;
    margin-bottom: 10px;
}

.handler{
    position: relative;
    display: flex;
    height: 100px;
    width: 590px;
    padding-bottom: 610px;
    padding-right: 670px;

}

.mangle{
    background-color: orange;
    border: 3px solid white);
    border-radius: 5px;
    flex: 1;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    gap: 200px;
    margin: 10px;
    height: 487px;
    margin-top: -124px;
    margin-bottom: 15px;

}

.mangler{
    position: absolute;
    display: flex;
    height: 100px;
    width: 500px;
    padding-top: -20px;
    padding-right: 580px;
}