#Statsråder{
    background-color: rgb(0, 79, 139);
    padding: 16px;
    background-size: cover;
    padding-top: 50px;
    padding-right: 20px;
 }

 .regjering-logo{
     position: relative;
     width: 50px;
     height: 50px;
     margin-left: 677px;
     margin-bottom: -70px;
     border-radius: 5%;
 }

.bilder h1{
    text-align: bottom;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 115px;
    padding-left: 45px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.reiser h1{
    text-align: bottom;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 115px;
    padding-left: 45px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.spiser h1{
    text-align: bottom;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    padding-top: 115px;
    padding-left: 45px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}

.bilder{
    height: 240px;
    display: flex;
    gap: 8px;
    border: 10px  white;
    background-size: cover;
    margin-top: 35px;
}

.reiser{
    height: 200px;
    display: flex;
    gap: 8px;
    border: 10px white;  
}

.spiser{
    height: 200px;
    display: flex;
    gap: 8px;
    border: 10px white;
}

.reise{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    background-size: cover;
    transition: 0.5s;
    margin-right: 60px;
    margin-left: 60px;
    height: 180px;
    width: 120px;
    margin-top: -13px;
    margin-bottom: 10px;
    gap: 20px;
}

.bilde{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    text-decoration: none;
    background-size: cover;
    transition: 0.5s;
    margin-left: 60px;
    margin-right: 60px;
    height: 180px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.spise{
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    flex: 2;
    background-size: cover;
    transition: 0.5s;
    margin-left: 60px;
    margin-right: 60px;
    height: 180px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;  
}


.bilde:nth-child(1){background-image: url(./images/erni.jpg);}
.bilde:nth-child(2){background-image: url(./images/Bent.jpeg);}
.bilde:nth-child(3){background-image: url(./images/sanner.jpg);}
.bilde:nth-child(4){background-image: url(./images/torbjørn.jpeg);}

.bilde:first-child{transform-origin: left;}
.bilde:last-child{transform-origin: right;}

.bilde:hover{
    flex: 3;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .bilde:nth-child (4){
       display: none;;
    }
}


.reise:nth-child(1){ background-image: url(./images/monica.jpg);}
.reise:nth-child(2){ background-image: url(./images/frank.jpg);}
.reise:nth-child(3){ background-image: url(./images/helleleand.jpg);}
.reise:nth-child(4){ background-image: url(./images/søreide.jpg);}

.reise:first-child{transform-origin: left;}
.reise:last-child{transform-origin: right;}

.reise:hover{
    flex: 3;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .reise:nth-child (4){
       display: none;;
    }
}


.spise:nth-child(1){ background-image: url(./images/nikolai.jpg) ;}
.spise:nth-child(2){ background-image: url(./images/odd.jpg);}
.spise:nth-child(3){ background-image: url(./images/tina.jpg);}
.spise:nth-child(4){ background-image: url(./images/asheim.jpg);}

.spise:first-child{transform-origin: left;}
.spise:last-child{transform-origin: right;}

.spise:hover{
    flex: 3;
    transform: scale(1.2);
    z-index: 1;
}

@media (max-width: 500px){

    .spise:nth-child (4){
       display: none;;
    }
}

img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    margin-left: 45px;
    opacity: 1;
    transition: 5s;
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}